In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
datasetName = '../data/real_data.csv'

df = pd.read_csv(datasetName,
                 decimal=",", parse_dates=["date"], 
                 infer_datetime_format=True).drop_duplicates()

summary = df.describe()
summary = summary.transpose()
summary

,count,mean,std,min,25%,50%,75%,max
% Iron Feed,37547.0,53.916320,3.928078,42.74000,52.410000,54.630000,56.090000,59.83000
% Silica Feed,37547.0,16.903760,6.493816,7.56000,12.820000,15.130000,20.810000,33.40000
Starch Flow,37547.0,2874.295296,1224.836053,0.00888,2240.867125,3101.780000,3696.040000,5674.23000
Amina Flow,37547.0,513.060382,84.499770,242.47700,471.182000,528.695854,565.691000,739.26100
Ore Pulp Flow,37547.0,393.082886,15.902449,376.25000,379.657128,383.822000,412.366750,418.64100
Ore Pulp pH,37547.0,9.448828,0.244728,8.75378,9.290150,9.478570,9.625170,10.37530
Ore Pulp Density,37547.0,1.673084,0.066850,1.51990,1.638020,1.684040,1.718150,1.81843
Flotation Column 01 Air Flow,37547.0,293.084953,27.335817,175.92000,299.269000,299.831000,300.366000,334.20400
Flotation Column 02 Air Flow,37547.0,294.196164,23.822458,175.89900,296.652000,299.596000,302.339000,375.77600
Flotation Column 03 Air Flow,37547.0,295.474419,17.901842,190.54200,298.267000,299.536000,301.399000,310.99900
Flotation Column 04 Air Flow,37547.0,298.254410,2.677575,293.26000,296.183001,298.395962,300.077000,305.75700
Flotation Column 05 Air Flow,37547.0,297.975253,4.989881,287.36000,294.041636,298.795000,302.864754,307.61600
Flotation Column 06 Air Flow,37547.0,324.949079,38.652438,189.92800,301.778000,340.308000,352.409500,370.90900
Flotation Column 07 Air Flow,37547.0,301.744500,38.098763,186.74700,288.394500,302.796000,326.935250,371.59300
Flotation Column 01 Level,37547.0,471.807470,117.432291,149.73300,395.171500,408.249000,586.116000,861.89000
Flotation Column 02 Level,37547.0,528.254387,107.602966,211.02900,481.715500,507.457000,594.037000,828.28300
Flotation Column 03 Level,37547.0,461.687539,150.005478,128.09200,394.355500,402.505000,423.490500,886.59600
Flotation Column 04 Level,37547.0,380.299248,70.648422,162.44500,342.124500,376.442000,415.440000,680.01600
Flotation Column 05 Level,37547.0,393.462756,78.039459,175.02400,348.287000,376.070000,404.899000,674.33300
Flotation Column 06 Level,37547.0,418.619596,105.280296,164.82400,349.280500,393.203000,457.568000,698.86100
Flotation Column 07 Level,37547.0,378.709029,68.440648,175.61700,340.127000,365.820000,402.749500,653.75200
% Iron Concentrate,37547.0,64.296846,1.107350,62.11000,63.450000,64.420000,65.080000,66.81000
% Silica Concentrate,37547.0,2.642011,1.108984,0.94000,1.710000,2.410000,3.476906,5.30000

In [3]:
df.head()

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-09-01 07:00:00,52.41,20.81,5341.35,560.059,385.024,9.60739,1.71316,296.664,306.611,...,308.4370,593.973,608.570,349.711,357.301,288.226,605.891,205.080667,66.28,0.94
1,2017-09-01 07:00:00,52.41,20.81,5391.45,548.248,386.484,9.60786,1.71291,296.884,302.421,...,320.9966,590.576,575.667,348.874,393.867,287.673,643.871,215.576333,66.28,0.94
2,2017-09-01 07:00:00,52.41,20.81,5420.95,565.418,382.331,9.60833,1.71266,297.103,296.954,...,333.5562,591.682,562.494,338.755,389.067,286.302,646.552,226.072000,66.28,0.94
3,2017-09-01 07:00:00,52.41,20.81,5409.58,564.252,376.358,9.60880,1.71241,297.322,299.247,...,346.1158,599.183,573.632,325.971,355.534,326.115,630.844,297.850000,66.28,0.94
4,2017-09-01 07:00:00,52.41,20.81,5352.50,584.860,381.329,9.60927,1.71216,297.510,301.428,...,358.6754,605.810,583.148,350.345,341.343,320.164,622.484,354.340000,66.28,0.94

In [4]:
df['day_of_month'] = df['date'].dt.day
df['day_of_week'] = df['date'].dt.dayofweek
df['hour'] = df['date'].dt.hour

df.head()

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate,day_of_month,day_of_week,hour
0,2017-09-01 07:00:00,52.41,20.81,5341.35,560.059,385.024,9.60739,1.71316,296.664,306.611,...,349.711,357.301,288.226,605.891,205.080667,66.28,0.94,1,4,7
1,2017-09-01 07:00:00,52.41,20.81,5391.45,548.248,386.484,9.60786,1.71291,296.884,302.421,...,348.874,393.867,287.673,643.871,215.576333,66.28,0.94,1,4,7
2,2017-09-01 07:00:00,52.41,20.81,5420.95,565.418,382.331,9.60833,1.71266,297.103,296.954,...,338.755,389.067,286.302,646.552,226.072000,66.28,0.94,1,4,7
3,2017-09-01 07:00:00,52.41,20.81,5409.58,564.252,376.358,9.60880,1.71241,297.322,299.247,...,325.971,355.534,326.115,630.844,297.850000,66.28,0.94,1,4,7
4,2017-09-01 07:00:00,52.41,20.81,5352.50,584.860,381.329,9.60927,1.71216,297.510,301.428,...,350.345,341.343,320.164,622.484,354.340000,66.28,0.94,1,4,7

In [5]:
df = df[['date','day_of_month','day_of_week','hour','% Iron Feed','% Silica Feed','Starch Flow','Amina Flow','Ore Pulp Flow','Ore Pulp pH','Ore Pulp Density','Flotation Column 01 Air Flow',
         'Flotation Column 02 Air Flow','Flotation Column 03 Air Flow','Flotation Column 04 Air Flow','Flotation Column 05 Air Flow','Flotation Column 06 Air Flow',
         'Flotation Column 07 Air Flow','Flotation Column 01 Level','Flotation Column 02 Level','Flotation Column 03 Level','Flotation Column 04 Level',
         'Flotation Column 05 Level','Flotation Column 06 Level','Flotation Column 07 Level','% Iron Concentrate','% Silica Concentrate']]

df.head()

,date,day_of_month,day_of_week,hour,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-09-01 07:00:00,1,4,7,52.41,20.81,5341.35,560.059,385.024,9.60739,...,308.4370,593.973,608.570,349.711,357.301,288.226,605.891,205.080667,66.28,0.94
1,2017-09-01 07:00:00,1,4,7,52.41,20.81,5391.45,548.248,386.484,9.60786,...,320.9966,590.576,575.667,348.874,393.867,287.673,643.871,215.576333,66.28,0.94
2,2017-09-01 07:00:00,1,4,7,52.41,20.81,5420.95,565.418,382.331,9.60833,...,333.5562,591.682,562.494,338.755,389.067,286.302,646.552,226.072000,66.28,0.94
3,2017-09-01 07:00:00,1,4,7,52.41,20.81,5409.58,564.252,376.358,9.60880,...,346.1158,599.183,573.632,325.971,355.534,326.115,630.844,297.850000,66.28,0.94
4,2017-09-01 07:00:00,1,4,7,52.41,20.81,5352.50,584.860,381.329,9.60927,...,358.6754,605.810,583.148,350.345,341.343,320.164,622.484,354.340000,66.28,0.94

In [6]:
df = df.groupby(['date']).mean()
df.head()

,day_of_month,day_of_week,hour,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
date,,,,,,,,,,,,,,,,,,,,,
2017-09-01 07:00:00,1,4,7,52.41,20.81,4269.459294,547.033019,380.753874,9.613847,1.698573,...,307.884075,599.790720,598.625953,407.818664,351.315682,343.057121,604.821720,348.910215,66.28,0.94
2017-09-01 08:00:00,1,4,8,52.41,20.81,3731.308733,533.739489,381.170394,9.587115,1.691611,...,307.796885,599.543744,600.456878,406.261517,350.584333,350.067578,598.795978,350.589256,66.15,1.58
2017-09-01 09:00:00,1,4,9,52.41,20.81,4430.043111,526.691739,380.767697,9.293665,1.706575,...,317.147201,599.095067,598.362072,403.870839,348.926728,349.053333,603.531731,349.386656,63.50,3.75
2017-09-01 10:00:00,1,4,10,52.41,20.81,4015.019828,497.299339,380.888319,9.384609,1.690346,...,315.336496,600.121089,600.074339,440.539239,352.198633,348.195611,609.837744,349.907944,63.82,3.20
2017-09-01 11:00:00,1,4,11,52.41,20.81,4655.845778,551.219061,380.747492,9.242732,1.720885,...,313.481360,598.012644,601.196894,655.998861,348.481500,349.790900,600.158389,348.077478,63.26,2.55

In [10]:
df = df[['% Silica Concentrate']]
df.head()

                     % Silica Concentrate
date
2017-09-01 07:00:00                  0.94
2017-09-01 08:00:00                  1.58
2017-09-01 09:00:00                  3.75
2017-09-01 10:00:00                  3.20
2017-09-01 11:00:00                  2.55

In [11]:
df = df.reset_index()
df.to_csv('lab_data.csv', index=False)